page-home {
    .masters {
        background-color: #A5DFF7;
      }
      .boton1{
        background-color: maroon;
            margin-left: 143px;
            margin-top: 110px;
          
      }
      .boton2{
        background-color: #555696;
         margin-left: 220px;
         margin-top: 215px;
       
   }
   .boton3{
    background-color: #559655;
     margin-left: 15px;
     margin-top: 135px;
   }
      .boton4{
    background-color: #875596;
     margin-left: 210px;
     margin-top: 315px;
   }

}
